*{
    background-color: wheat;
}

td{
    padding-bottom: 5px;
    background-color: black;
}

#employee-login{
    border-style: double;
    border-color: black;
    border-width: 10px;
}

#manager-login{
    border-style: double;
    border-color: black;
    border-width: 10px;
}

#login-container{
    padding-left: 2em;
    padding-top: 1em;
}

#emps-container{
    border-style: dashed;
}

.welcome{
    text-decoration: underline;
    margin-bottom: 0;
}