*{
    background-color: wheat;
}

td{
    padding-bottom: 5px;
    background-color: black;
}

#employee-login{
    border-style: double;
    border-color: black;
    border-width: 10px;
}

#manager-login{
    border-style: double;
    border-color: black;
    border-width: 10px;
}

#login-container{
    padding-left: 2em;
    padding-top: 1em;
}

#emps-container{
    border-style: dashed;
}

.welcome{
    text-decoration: underline;
    margin-bottom: 0;
}

#login-error{
    color: red;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 2em;
}

#newemp{
    padding-left: 2em;
    padding-top: 0.5em;
}

#formcontainer{
    padding-top: 1em;
    padding-left: 2em;
    padding-bottom: 3em;
    border-style: solid;
    margin: 0 10em;
}

#spaced{
    padding-top: 4em;
}

#reimbs-filter{
    margin-left: 10px;
    margin-right: 10px;
}
